= partial :breadcrumb
- @posts.each do |post|
  %article
    %div.page-header
      %h1
        %a{:href => post.link}
          =post.title
    %div.body~ post.body
    %div.social_btn
      %div.hatena
        %a{:href => "http://b.hatena.ne.jp/entry/http://willnet.in#{post.link}",
           :class => "hatena-bookmark-button",
           :"data-hatena-bookmark-title" => "#{post.title} - #{@site.title}",
           :"data-hatena-bookmark-layout" => "standard",
           :title => "このエントリーをはてなブックマークに追加"}
          %img{:src => "http://b.st-hatena.com/images/entry-button/button-only.gif", :alt => "このエントリーをはてなブックマークに追加", :width => "20", :height => "20", :style => "border: none;"}
      %div.twitter      
        %a{:href => "https://twitter.com/share",
           :class => "twitter-share-button",
           :"data-url" => "http://willnet.in#{post.link}",
           :"data-text" => "#{post.title} - #{@site.title}",
           :"data-via" => "netwillnet",
           :"data-lang" =>"ja"}
          ツイート
      %div.facebook
        %div{:class => "fb-like",
             :"data-href" => "http://willnet.in#{post.link}",
             :"data-send" => "false",
             :"data-layout" => "button_count",
             :"data-width" => "120",
             :"data-show-faces" => "true"}
    %div.post_info
      = link_to("#{t('comments')}(#{post.comments.size})", url("#{post.link}#comment"))
      |
      = l(post.created_at)
%div.pager
  - if @posts.pager.previous_page
    %span.previous
      %a{:href => "?page=#{@posts.pager.previous_page}"}
        Newer
  - if @posts.pager.next_page
    %span.next
      %a{:href => "?page=#{@posts.pager.next_page}"}
        Older
