%article
  %div.page-header
    %h1
      %a{:href => @entry.link}
        =@entry.title
  %div.body~ @entry.body
  %div.social_btn
    %div.hatena
      %a{:href => "http://b.hatena.ne.jp/entry/http://willnet.in#{@entry.link}",
         :class => "hatena-bookmark-button",
         :"data-hatena-bookmark-title" => "#{@entry.title} - #{@site.title}",
         :"data-hatena-bookmark-layout" => "standard",
         :title => "このエントリーをはてなブックマークに追加"}
        %img{:src => "http://b.st-hatena.com/images/entry-button/button-only.gif", :alt => "このエントリーをはてなブックマークに追加", :width => "20", :height => "20", :style => "border: none;"}
    %div.twitter      
      %a{:href => "https://twitter.com/share",
         :class => "twitter-share-button",
         :"data-url" => "http://willnet.in#{@entry.link}",
         :"data-text" => "#{@entry.title} - #{@site.title}",
         :"data-via" => "netwillnet",
         :"data-lang" =>"ja"}
        ツイート
    %div.facebook
      %div{:class => "fb-like",
           :"data-href" => "http://willnet.in#{@entry.link}",
           :"data-send" => "false",
           :"data-layout" => "button_count",
           :"data-width" => "450",
           :"data-show-faces" => "true"}
  %div.post_info
    = link_to("#{t('comments')}(#{@entry.comments.size})", url("#{@entry.link}#comment"))
    |
    = l(@entry.created_at)
  %div#comment
    %h2 コメント
    - @entry.comments.reverse.each do |comment|
      %div.well
        = link_to comment.name, comment.homepage, :unless => comment.homepage.blank?
        %p= hbr comment.body
        %div.date= l(comment.created_at, :format => :long)
  %div#comment-form
    - if @comment and !@comment.errors.empty?
      .alert.alert-error
        %h4.alert-heading= t('error')
        %ul
          - @comment.errors.full_messages.each do |error|
            %li= error
    - form_for :comment, request.path_info, method: :post, class: 'form-horizontal' do |f|
      :javascript
        document.write('<input type="hidden" name="check" value="check" />');
      %fieldset
        %legend コメントを書く
        %div.control-group
          = f.label :name, :caption => t('comment.name'), :class => 'control-label'
          %div.controls
            = f.text_field :name, class: 'input-xlarge'
        %div.control-group
          = f.label :homepage, :caption => t('comment.homepage'), :class => 'control-label'

          %div.controls
            = f.text_field :homepage, :class => 'input-xlarge'
            %span.help-inline== (#{t('option')})
        %div.control-group
          = f.label :body, :caption => t('comment.body'), :class => 'control-label'
          %div.controls
            = f.text_area :body, :rows => 10, :cols => 40, :class => 'input-xlarge'
      %div.form-actions
        = f.submit t('post_comment'), :class => 'btn'

