%article
  .page-header
    %h1
      %a{:href => @entry.link}
        =@entry.title
  .body~ @entry.body
  .social_btn
    .hatena
      %a{:href => "http://b.hatena.ne.jp/entry/http://willnet.in#{@entry.link}",
         :class => "hatena-bookmark-button",
         :"data-hatena-bookmark-title" => "#{@entry.title} - #{@site.title}",
         :"data-hatena-bookmark-layout" => "standard",
         :title => "このエントリーをはてなブックマークに追加"}
        %img{:src => "http://b.st-hatena.com/images/entry-button/button-only.gif", :alt => "このエントリーをはてなブックマークに追加", :width => "20", :height => "20", :style => "border: none;"}
    .twitter
      %a{:href => "https://twitter.com/share",
         :class => "twitter-share-button",
         :"data-url" => "http://willnet.in#{@entry.link}",
         :"data-text" => "#{@entry.title} - #{@site.title}",
         :"data-via" => "netwillnet",
         :"data-lang" =>"ja"}
        ツイート
    .facebook
      %div{:class => "fb-like",
           :"data-href" => "http://willnet.in#{@entry.link}",
           :"data-send" => "false",
           :"data-layout" => "button_count",
           :"data-width" => "120",
           :"data-show-faces" => "true"}
  .post_info
    - if @entry.tags.size > 0
      = @entry.tags_to_html
      |
    = l(@entry.created_at)
  .well
    もしこの記事が参考になって、寄付をしたいと思ったら
    %a{ href: 'http://www.amazon.co.jp/registry/wishlist/3MLJ4E78LB09E' } こちらから
    寄付をお願いします (\( ⁰⊖⁰)/)
  = comment_form
