!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    - title = if entry?
      - "#{@entry.title} - #{@site.title}"
    - elsif @bread_crumbs[0..-2].present?
      - "#{@bread_crumbs[-1][:name]} - #{@site.title}"
    - else
      - "おもしろwebサービス開発日記 - #{@site.title}"
    %title= title
    %meta{proparty: "og:title", conetnt: "#{title}"}
    %meta{proparty: "og:type", conetnt: "blog"}
    %meta{proparty: "og:description", conetnt: '世界的webサービスを作るまで'}
    %meta{proparty: "og:site_name", conetnt: "おもしろwebサービス開発日記"}
    %meta{proparty: "og:site_url", conetnt: "http://willnet.in/"}
    %meta{proparty: "og:image", conetnt: "http://www.gravatar.com/avatar/6ac7c50770603b53964d44db373e8e48?s=200"}
    - path = entry? ? "/#{@entry.fuzzy_slug}" : request_path
    %meta{proparty: "og:url", conetnt: "http://willnet.in#{path}"}
    %link{rel: "alternate", href: "/index.atom", type: "application/atom+xml"}
    %link{rel: "shortcut icon", href: "#{@theme.path}/favicon.ico"}
    %link{rel: "stylesheet", href: "#{@theme.path}/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "#{@theme.path}/style.css"}
    %link{rel: "stylesheet", href: "#{@theme.path}/css/bootstrap-responsive.css"}
    %link{rel: "stylesheet", href: "#{@theme.path}/style-responsive.css"}
    %link{rel: "author", href: "https://plus.google.com/110960561695652777519"}
    %script{src: "//s.hatena.ne.jp/js/HatenaStar.js"}
    %script{src: "#{@theme.path}/js/hatena_star.js"}
    = header
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=278816705549331";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: '/'}= @site.title
          .nav-collapse
            %form.navbar-search.pull-right{ action: "/search/", method: "get"}
              %input.search-query{type: "text", name: "query", placeholder: "search"}
            %ul.nav
              - Page.all.reverse.each do |page|
                - if page.link == request_path
                  %li.active= link_to(page.title, page.link)
                - else
                  %li= link_to(page.title, page.link)
              %li
                %a{href: 'http://github.com/willnet'} github
              %li
                %a{href: 'http://twitter.com/netwillnet'} twitter
              %li
                %a{href: 'https://www.facebook.com/netwillnet'} facebook
                
    .container
      .row
        .span9
          = yield
        .span3
          #info
            %img{src: 'http://www.gravatar.com/avatar/6ac7c50770603b53964d44db373e8e48?s=150'}
            %p= @site.description
          :javascript
            google_ad_client = "ca-pub-9595778255945158";
            /* square250 */
            google_ad_slot = "5118052670";
            google_ad_width = 250;
            google_ad_height = 250;
          %script{src: "http://pagead2.googlesyndication.com/pagead/show_ads.js"}
          %h2 最近のエントリ
          %ul
            - Post.recent(5).each do |post|
              %li
                %a{href: post.link}
                  = post.title
          %h2 タグ
          %ul.nav.nav-pills
            - Tag.all.sort_by(&:name).each do |tag|
              %li
                %a{href: tag.link}
                  = tag.name
          %h2 アーカイブ
          %ul
            - months.each do |month|
              %li
                %a{href: "/#{month.year}/#{month.month}/"}
                  = "#{month.year}/#{month.month}"
    %script{src: "//b.st-hatena.com/js/bookmark_button.js", charset: "utf-8", async: "async"}
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %script{src: "#{@theme.path}/js/jquery-1.7.2.min.js"}
    %script{src: "#{@theme.path}/js/bootstrap.min.js"}
    %script{src: "#{@theme.path}/js/design.js"}
    = footer
